*{
  margin: 0;
  padding: 0;
}

#main-container {
    width: 1200px;
    height: 100%;
    background-color: #FFFEF1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

main {
    padding-top: 110px;
    /* height는 컨텐츠에 따라 */
    height: 718px; 
    min-height: calc(100vh - 235px);
    width: 100%;
    background-color: #FFFEF1;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button{
  border-radius: 13px;
  padding : 0px 20px;
  height: 50px;
  background-color: #f59d85;
  border : 0px;
  font-size: 20px;
  cursor: pointer;
}

.font-main{
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-menu{
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.sponsorship-complete-text{
  margin-top: 220px;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;

  color:#f59d85;
}

#sponsorship-complete-bottom{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#sponsorship-complete-bottom a{
  background-color:#f59d85;
  color: white;
  padding: 0px 20px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  text-decoration: none;
  margin: 0px 30px;
}