* {
  margin: 0;
  padding: 0;
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 50px;
}

#header {
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #FFFACD;
}

#footer {
  width: 100%;
  height: 125px;
  background-color: #FFFACD;
}

#main-container {
  width: 1200px;
  height: 100%;
  /*알아서 넣기*/
  background-color: #3F3B3B;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding-top: 110px;
  height: 1500px;
  width: 100%;
  background-color: #3F3B3B;
}

button {
  border-radius: 13px;
  padding: 0px 20px;
  height: 40px;
  background-color: #f59d85;
  border: 0px;
}

.ib_p {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.y_p {
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}


.signup-container {
  width: 800px;
  height: 1300px;
  background-color: #FFFACD;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.form-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 90%;
}

.div-signup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.div-signup-hide {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-end;
}

.div-signup-address {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-end;
}

.div-signup-address-add {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.input-basic {
  border-radius: 15px;
  border: 0px;
  width: 80%;
  height: 30px;
  padding: 10px;
  text-align: center;
}

.input-address-basic {
  border-radius: 15px;
  border: 0px;
  width: 80%;
  height: 15px;
  padding: 10px;
  text-align: center;
}

.input-address-add {
  border-radius: 15px;
  border: 0px;
  width: 64%;
  height: 15px;
  padding: 10px;
  text-align: center;
}

.span-signup {
  line-height: 50px;
  width: 100px;
  text-align: end;
}

.p-warning {
  display: none;
}

.input-email-first,
.input-email-end {
  border-radius: 15px;
  border: 0px;
  width: 30%;
  height: 30px;
  padding: 10px;
  text-align: center;
}

.span-email-at {
  line-height: 50px;
}

.div-signup-email {
  display: flex;
  align-items: flex-end;
  width: 80%;
}

.select-email {
  border-radius: 15px;
  border: 0px;
  width: 30%;
  height: 50px;
}
.div-signup-radio{
  width: 80%;
  line-height: 50px;
  display: flex;
  justify-content: space-around;
}
.label-terms,.span-add{
  color:#d9d9d9;
}

.label-terms:hover,.span-add:hover{
  color:black;
}
.button-basic {
  width: 100%;
  background-color: #f59d85;
  color: white;
}
.input-cert{
   border-radius: 15px;
  border: 0px;
  width: 80%;
  height: 30px;
  padding: 10px;
  text-align: center;
  background-color:#d9d9d9;
}