* {
  margin: 0;
  padding: 0;
}

#main-container {
  width: 1200px;
  height: 100%;
  /*알아서 넣기*/
  background-color: #fffef1;
  margin: auto;
  align-items: center;
  justify-content: center;

}

.pagetitle {
  font-size: 30px;
  color: #f38a6e;
  padding-top: 100px;
  height: 110px;
  line-height: 110px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  height: 1250px;
  min-height: calc(100vh - 235px);
  width: 100%;
  background-color: #fffef1;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  border-radius: 13px;
  padding: 0px 20px;
  height: 40px;
  background-color: #f59d85;
  border: 0px;
}

.font-main {
  font-size: 18px;
  font-family: "Noto Sans KR";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.font-menu {
  font-family: "Yeon Sung";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

/* 공지사항 시작 */
.notice-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notice-title {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 1px;
  color: #f59d85;
  font-size: 30px;
}

.notice-board-box-container {
  display: flex;
  justify-content: space-around;
  background-color: #f59d85;
  padding: 10px;
  color: white;
  border-bottom: 1px solid white;
}

.notice-board-box-title {
  width: 730px;
  color: white;
  text-align: center;
}

.notice-board-box-writer {
  width: 145px;
  text-align: center;
  color: white;
}

.notice-board-box-day {
  width: 134px;
  text-align: center;
  color: white;
}

.notice-list-container {
  background-color: white;
  /* display: flex; */
  justify-content: space-around;
}

.notice-must-read-emphasize-container {
  background-color: rgb(237, 237, 237);
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid #f59d85;
}

.notice-must-read-emphasize-title {
  width: 730px;
  text-align: left;
}

.notice-must-read-emphasize-title>a {
  text-decoration: none;
  color: inherit;
}

.notice-must-read-emphasize-writer {
  width: 145px;
  text-align: center;
}

.notice-must-read-emphasize-day {
  width: 134px;
  text-align: center;
}

.class-notice-list-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 1px solid #f59d85;
}

.notice-list-title {
  width: 730px;
  text-align: left;
}

.notice-list-writer {
  width: 145px;
  text-align: center;
}

.notice-list-day {
  width: 134px;
  text-align: center;
}

/* 공지사항 종료 */

/* 페이지  */
/* .notice-page-nation > li {
  list-style: none;
}

.notice-page-wrap {
  text-align: center;
}

.notice-page-nation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
} */

.notice-page-box {
  display: inline-block;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.notice-page-box .left,
.notice-page-box .right {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 13px;
}

.notice-page-nation>li>a {
  display: flex;
  gap: 10px;
}

.notice-list-num {
  cursor: pointer;
  padding: 6px 12px;
}

/* 검색 시작 */
/* 페이지 영역 시작 */
#main-page-number {
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 370px;
  margin: 10px auto;
  justify-content: space-between;
  margin-top: 2%;
}

#main-page-number>a {
  margin: 0 28px;
  text-decoration: none;
  color: black;
}
/* 페이지 영역 끝 */

/* 검색영역 시작 */
#main-search {
  height: 45px;
  width: 840px;
  font-size: 20px;
  display: flex;
  align-self: start;
  margin: 30px 28px;
}

#main-search-basic>div {
  border: 1px solid black;
  border-radius: 12px;
}

#main-search-menu {
  display: none;
}

#main-search-menu>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-search-menu>div>p {
  align-self: center;
}

#main-search-basic>div>p {
  height: 45px;
  width: 102px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-search-input {
  width: 370px;
  height: 45px;
  border-radius: 10px;
  margin: 0 5px;
  border: 1px solid black;
  padding-right: 44px;
}

form {
  display: inline-block;
  position: relative;
}

form>button {
  background-color: white;
  position: absolute;
  right: 6px;
  top: 3px;
}

form>button>img {
  height: 30px;
  width: 30px;
  border: 0px;
  cursor: pointer;
}
/* 검색영역 끝 */

/* 검색종료 */