* {
  margin: 0;
  padding: 0;
}

#main-container {
    width: 1200px;
    height: 100%;
    /*알아서 넣기*/
    background-color: #FFFEF1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

main {
    padding-top: 110px;
    /* height는 컨텐츠에 따라 */
    height: 600px; 
    width: 100%;
    background-color: #FFFEF1;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button {
  border-radius: 13px;
  padding: 0px 20px;
  height: 40px;
  background-color: #f59d85;
  border: 0px;
}

.font-main {
  font-size: 18px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.font-menu {
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pagetitle {
  font-size: 30px;
  color: #f38a6e;

  padding-top: 100px;
  height: 110px;
  line-height: 110px;

  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 게시글상세 시작 */

.notice-detail-containter {
  position: relative;
  top: 90px;
  left: 200px;
    /* display: flex;
  justify-content: center;
  align-items: center; */
}

.notice-detail-title-text {
  font-size: 18px;
  color: #f38a6e;
  font-weight: bold;
}

.board-box-writer {
  font-size: 18px;
}

.board-box-day {
  font-size: 18px;
}

.notice-detail-admin-image-containter {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.logo-image {
  width: 100%;
  height: 100%;
}

.notice-detail-admin-containter {
  margin-left: 1px;
}

.board-box-writer {
  font-size: 18px;
}

.board-box-day {
  font-size: 18px;
}

.notice-detail-text-content-containter {
  margin: 20px;
}

.notice-detail-text {
  font-size: 18px;
  white-space: normal;
  /* 줄바꿈 허용 */
  word-break: break-word;
  /* 긴 단어 줄바꿈 */
  overflow-wrap: break-word;
  /* 내용 칸 밖으로 넘치지 않게 */
}

/* 게시글상세 끝 */