*{
  margin: 0;
  padding: 0;
}

#header{
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #f59d85;
}

#footer{
  width: 100%;
  height: 125px;
  background-color: #f59d85;
}

#main-container {
    width: 1200px;
    height: 100%;
    /*알아서 넣기*/
    background-color: #FFFEF1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

main {
    padding-top: 110px;
    height: 100%;
    width: 100%;
    background-color: #FFFEF1;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 110px;
}

button{
  border-radius: 13px;
  padding : 0px 20px;
  height: 40px;
  background-color: #f59d85;
  border : 0px;
}

.font-main{
  font-size: 18px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  color : white;
}

.font-menu{
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pagetitle{
  font-size : 30px;
  color : #F38A6E;

  padding-top : 100px;
  height: 110px;
  line-height: 110px;
  
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.p-title {
  color: #F38A6E;
  font-size: 36px;
  text-align: center;
}

.detail-container {
  background-color: #FFFEF1;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
}

.div-detail-area {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size:18px;
}

.img-detail {
  width: 600px;
  height: 500px;
}

.div-img {
  display: flex;
  justify-content: center;
}

.div-write-date {
  display: flex;
  justify-content: flex-end;
}

.p-expert-info-title{
  font-size: 20px;
  color: #F38A6E;
}
.div-expert-detail{
  margin-top:50px;
  
}

.div-expert-detail-button{
  margin-top:50px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.div-expert-info-detail{
  display: flex;
  justify-content: center;
}

.button-application{
  width: 147px;
  height: 50px;
  color:white;
  border-radius: 13px;
  padding: 0px 20px;
  font-size : 20px;
  background-color: #f59d85;
  border: 0px;
}
.button-cancel{
  /* display: none; */
  width: 147px;
  height: 50px;
  font-size: 30px;
  background-color: white;
  border-radius: 13px;
  padding: 0px 20px;
  font-size : 20px;
  color:#ff0000;
  border: 1px solid #ff0000;
}

.p-expert-detail-comment{
  width: 600px;
}
.div-user-integration{
  display: flex;
}
.img-user-profile{
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.div-button-area{
  margin : 50px 0px;
  /* 여기 display를 none으로 해서 내 게시물만 display flex로 변경 */
  display: flex;
  justify-content: space-evenly;
}