* {
  margin: 0;
  padding: 0;
}

header{
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #757575;
  display: flex;
  justify-content: center;
}

button{
  cursor: pointer;
}

header>a>img{
  height: 110px;
  width: 110px;
}

footer{
  width: 100%;
  height: 125px;
  background-color: #fff1cd;
}

#main-container {
    width: 1200px;
    height: calc(100vh - 235px);
    background-color: #FFFEF1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.notice-detail-title-text-containter{
  display: flex;
  justify-content: space-between;
}

.back-list{
  height: 50px;
  width: 80px;
  background-color: #818181;
  text-align: center;
  line-height: 50px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

main {
    padding-top: 110px;
    /* height는 컨텐츠에 따라 */
    height: 900px; 
    min-height: calc(100vh - 235px);
    width: 100%;
    background-color: #a6a6a6;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button{
  border-radius: 20px;
  width: 110px;
  height: 55px;
  background-color: #f59d85;
  border: 0px;
  margin: 45px;
  color: white;
  font-size: 22px;
}

.font-main {
  font-size: 18px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.font-menu {
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pagetitle {
  font-size: 30px;
  color: #f38a6e;

  padding-top: 100px;
  height: 110px;
  line-height: 110px;

  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 게시글상세 시작 */

.notice-detail-containter {
  min-height: 557px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  margin-bottom: 15%;
}

.notice-detail-title-text {
  font-size: 48px;
  color: #f38a6e;
  font-weight: bold;
}

.board-box-writer {
  font-size: 32px;
}

.board-box-day {
  font-size: 32px;
}

.notice-detail-admin-image-containter {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.logo-image {
  width: 100%;
  height: 100%;
}

.notice-detail-admin-containter {
  margin-left: 1%;
}

.board-box-writer {
  font-size: 32px;
}

.board-box-day {
  font-size: 32px;
}

.notice-detail-text-content-containter {
  margin: 20px;
}

.notice-detail-text {
  font-size: 24px;
  font-weight: bold;
  white-space: normal;
  /* 줄바꿈 허용 */
  word-break: break-word;
  /* 긴 단어 줄바꿈 */
  overflow-wrap: break-word;
  /* 내용 칸 밖으로 넘치지 않게 */
}

/* 게시글상세 끝 */

.div-expert-detail-button{
  margin-top:50px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.button-cancel{
  background-color: white;
  border: 2px solid red;
  color: red;
}