* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #757575;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  margin: auto;
}

#header-garbage {
  background-color: #d9d9d9;
  width: 310px;
  height: 80px;
}

#header-admin-notice>p{
  font-size: 20px;
  margin : 35px 30px;
} 

#header-admin-notice {
  background-color: #bebebe;
  height: 80px;
  width: 895px;
}

main{
  background-color: white;
  display: flex;
  margin: auto;
}

#main-admin-list-menu{
  background-color: #d9d9d9;
  width: 310px;
}

#main-admin-list{
  margin: 100px 55px;
  width: 200px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-admin-list>li{
  font-size: 20px;
  margin: 30px 0;
}

#main-admin-list>li>a{
  text-decoration: none;
  color: black;
}

#main-notice{
  width: 895px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-notice-list{
  width: 875px;
  margin-top: 100px;
  font-size: 21px;
  height: 550px;
}

#main-notice-list>div{
  background-color: #d9d9d9;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 17px;
}


.main-notice-title{
  width: 600px;
  text-align: center;
}

.main-notice-author{
  width:115px;
  text-align: center;
}

.main-notice-create-date{
  width: 126px;
  text-align: center;
}

#main-notice-list>li{
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 17px;
  border-bottom: 3px solid #a7a7a7;
}

.main-must-read{
  background-color: #ededed;
  color: red;
}

#main-notice-list>li>p:first-child{
  text-align: left;
}

#main-create-notice{
  background-color: #818181;
  height: 55px;
  width: 160px;
  border-radius: 15px;
  border: 0;
  font-size: 20px;
  color: white;
  margin: 70px 0 28px;
}

#main-page-number{
  display: flex;
  width: 370px;
  font-size: 20px;
}

#main-page-number>a{
  margin: 0 28px;
  text-decoration: none;
  color: black;
}

#main-notice-search{
  height: 45px;
  width: 840px;
  font-size: 20px;
  display: flex;
  align-self: start;
  margin: 30px 28px;
}

#main-notice-search-title>p{
  height: 45px;
  width: 100px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-notice-search-input{
  width: 370px;
  height: 45px;
  border-radius: 10px;
  margin: 0 5px;
  border: 1px solid black;
}

form{
  display: flex;
  align-items: center;
}

form>button{
  background-color: white;
  border: 0;
  transform: translateX(-40px)
}

form>button>img{
  height: 30px;
  width: 30px;
  border: 0px;
}