* {
  margin: 0;
  padding: 0;
}

.font-menu {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #757575;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: auto;
  position: fixed;
  transform: translateX(155px);
  z-index: 2;
  background-color: #bebebe;
  height: 80px;
  width: 895px;
  font-size: 20px;
  line-height: 80px;
}

button{
  cursor: pointer;
}

header>section{
  display: flex;
  justify-content: space-between;
}

header>section>p{
  margin : 0 30px;
} 

header>section>button{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 15px 10px;
}

header>section>button>img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#header-admin-course>p{
  font-size: 20px;
  margin : 0 30px;
} 

header>section:nth-child(2){
  background-color: #d9d9d9;
  height: 42px;
  display:flex;
  align-items: center;
}

header>section:nth-child(2)>ul{
  display: flex;
  margin: 0 10px;
  list-style-type: none;
}

header>section:nth-child(2)>ul>li{
  margin: 0 20px;
}

header>section:nth-child(2)>ul>li>a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

header>section:nth-child(2)>ul>li>a:hover{
  font-size: 18px;
}

main {
  height: 100vh;
  display: flex;
  position: relative;
  top: 80px;
}

#main-admin-list-menu {
  background-color: #d9d9d9;
  height: 100vh;
  width: 310px;
  position: fixed;
  transform: translate(-155px, -80px);
}

#main-admin-list {
  margin: 150px 55px;
  width: 200px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-admin-list>li {
  font-size: 20px;
  margin: 20px 0;
}

#main-admin-list>li:hover{
  font-size: 24px;
}

#main-admin-list>li>a {
  text-decoration: none;
  color: black;
}


#main-rt-review {
  background-color: white;
  width: 895px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(155px);
}

#main-rt-review-title {
  height: 50px;
  width: 870px;
  margin-top: 100px;
  background-color: #d9d9d9;
  display: flex;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

.main-rt-review-name{
  margin-left: 20px;
  width: 500px;
}

.main-rt-review-heart{
  width: 100px;
}

.main-rt-review-nickname{
  width: 110px;
}

.main-rt-review-date{
  width: 120px;
  margin-right: 20px;
}

#main-rt-review-list{
  height: 530px;
}

#main-rt-review-list>li{
  height: 50px;
  width: 870px;
  list-style-type: none;
  text-align: center;
  line-height: 50px;
  border-bottom: 3px solid #a7a7a7;
}

#main-rt-review-list>li:hover{
  text-decoration: underline;
}

#main-rt-review-list>li>a{
  text-decoration: none;
  color: black;
  display: flex;
  font-size: 20px;
}

#main-rt-review-list>li>a>p:first-child{
  text-align: left;
}

#main-page-number{
  margin-top: 20px;
  display: flex;
  width: 370px;
  font-size: 20px;
}

#main-page-number>a{
  margin: 0 28px;
  text-decoration: none;
  color: black;
}

#main-search{
  height: 45px;
  width: 840px;
  font-size: 20px;
  display: flex;
  align-self: start;
  margin: 30px 28px;
}

#main-search-basic>div{
  border: 1px solid black;
  border-radius: 12px;
}


#main-search-menu{
  display: none;
}

#main-search-menu>div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-search-menu>div>p{
  align-self: center;
}

#main-search-menu>div>p:first-child,
#main-search-menu>div>p:nth-child(2){
  border-bottom: 1px solid black;
}

#main-search-basic>div>p{
  height: 45px;
  width: 102px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-search-input{
  width: 370px;
  height: 45px;
  border-radius: 10px;
  margin: 0 5px;
  border: 1px solid black;
}

form{
  display: flex;
  align-items: center;
}

form>button{
  background-color: white;
  border: 0;
  transform: translateX(-40px);
}

form>button>img{
  height: 30px;
  width: 30px;
  border: 0px;
}