*{
  margin: 0;
  padding: 0;
}

header{
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #fffacd;
  display: flex;
  justify-content: center;
}

header>a>img{
  height: 110px;
  width: 110px;
}

footer{
  width: 100%;
  height: 125px;
  background-color: #fff1cd;
}

#main-container {
    width: 1200px;
    height: 100%;
    /*알아서 넣기*/
    background-color: #FFFEF1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

main {
    padding-top: 110px;
    height: 100%;
    width: 100%;
    background-color: #FFFEF1;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 110px;
}

button{
  border-radius: 13px;
  padding : 0px 20px;
  height: 40px;
  background-color: #f59d85;
  border : 0px;
}

.font-main{
  font-size: 18px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  color : white;
}

.font-menu{
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pagetitle{
  font-size : 30px;
  color : #F38A6E;

  /* padding-top : 100px; */
  height: 110px;
  line-height: 110px;
  
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.back-list{
  height: 50px;
  width: 80px;
  background-color: #818181;
  text-align: center;
  line-height: 50px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
}

.p-title {
  color: #F38A6E;
  font-size: 36px;
  text-align: center;
}

.detail-container {
  background-color: #FFFEF1;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
}

#detail-container-list{
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

.div-detail-area {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size:18px;
}

.img-detail {
  width: 600px;
  height: 500px;
}

.div-img {
  display: flex;
  justify-content: center;
}

.div-write-date {
  display: flex;
  justify-content: flex-end;
}

.p-admin-info-title{
  font-size: 20px;
  color: #F38A6E;
}
.div-admin-detail{
  margin-top:50px;
  
}

.div-admin-detail-button{
  margin-top:50px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.div-admin-info-detail{
  display: flex;
  justify-content: center;
}

.button-cancel{
  width: 120px;
  height: 55px;
  font-size: 30px;
  background-color: white;
  border-radius: 20px;
  padding: 0px 20px;
  font-size : 20px;
  color:#ff0000;
  border: 3px solid #ff0000;
}

.p-admin-detail-comment{
  width: 600px;
}

.img-user-profile{
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.div-button-area{
  margin : 50px 0px;
  display: flex;
  justify-content: center;
}

.div-comment-area{
  border: 1px solid black;
  background-color: white;
}

.div-comment-area>div{
  display: flex;
  border-bottom: 1px solid black;
}

.div-comment-area>div>img{
  margin: 5px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.div-comment-area>div>button{
  width: 70px;
  position: relative;
  font-size: 14px;
  left: 71%;
  height: 25px;
  background-color: white;
}