* {
  margin: 0;
  padding: 0;
}

#header {
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #f59d85;
}

#footer {
  width: 100%;
  height: 125px;
  background-color: #f59d85;
}

#main-container {
  width: 1200px;
  height: 100%;
  /*알아서 넣기*/
  background-color: #FFFEF1;
  margin: auto;
  align-items: center;
  justify-content: center;
}

main {
  height: 100%;
  width: 100%;
  background-color: #FFFEF1;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  border-radius: 13px;
  padding: 0px 20px;
  height: 40px;
  background-color: #f59d85;
  border: 0px;
}

.font-main {
  font-size: 18px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.font-menu {
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pagetitle {
  font-size: 30px;
  color: #F38A6E;

  padding-top: 100px;
  height: 110px;
  line-height: 110px;

  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.li-comment {
  display: flex;
  list-style: none;
  border-bottom: 1px solid black;
  width: 100%;
}
button:hover{
  cursor: pointer;
}
.li-comment>.div-user-name-area>.span-comment-edit{
  float: right;
}

.img-user-profile {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.p-user-name {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.p-comment-text {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.p-update-date {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.input-comment {
  border-radius: 15px;
  border: 0px;
  width: 60%;
  height: 20px;
  padding: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-color: #F7F7F7;
}

.button-write {
  height: 60px;
}

.div-comment-write {
  margin: 15px 0px;
  display: flex;
  justify-content: flex-start;
}
.div-user-name-area, .div-user-text-area{
  width: 1200px;
  display: flex;
  justify-content: space-between;
}


.span-comment-edit{
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
}

.span-comment-delete{
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color:#ff0000;
}