* {
  margin: 0;
  padding: 0;
}

#header {
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #f59d85;
  z-index: 1000;
}

#footer {
  width: 100%;
  height: 125px;
  background-color: #f59d85;
}

#main-container {
  width: 1200px;
  height: 100%;
  /*알아서 넣기*/
  background-color: #FFFEF1;
  margin: auto;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* justify-content: center; */
}

main {
  padding-top: 110px;
  height: auto;
  width: 100%;
  background-color: #FFFEF1;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  border-radius: 13px;
  padding: 0px 20px;
  height: 40px;
  background-color: #f59d85;
  border: 0px;
}

.font-main {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.font-menu {
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* 슬라이스 배너 시작 */
.main-banner-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #FFB6A3;
}

.main-banner-box {
  overflow: hidden;
  width: 949px;
  height: 415px;
}

.main-banner-slide_box {
  display: flex;
  transition: .5s ease;
}

.slide_item {
  flex: 0 0 949px;
}

.slide_item img {
  width: 949px;
  height: 415px;
  display: block;
}

.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: white;
  color: black;
}
.prev > i,
.next > i {
  font-weight: bold;
  font-size: 24px;
}


.prev {
  margin-right: 20px;
}
.next {
  margin-left: 20px;
}

/* 슬라이스 배너 끝 */


/* 버튼 메뉴 시작 */
.main-menu-botton-containter {
  position: relative;
  margin-top: 5%;
  width: 1200px;
  height: 360px;
}

.main-menu-botton-containter button {
  cursor: pointer;
  position: absolute;
  border-radius: 30px;
  width: 425px;
  height: 56px;
  font-size: 32px;
}

/* 버튼 색상 위치 */
/* 게시판소개글 */
.main-aboutus-botton {
  background-color: #DF5F90;
  color: black;
  top: 0;
  left: 120px;
}


/* 루틴모임바로가기 */
.main-routine-list-botton {
  background-color: yellow;
  color: black;
  top: 20px;
  right: 100px;
}

/* 루틴모임후기바로가기 */
.main-routine-review-botton {
  background-color: #BDFCC9;
  color: black;
  top: 90px;
  left: 330px;
}

/* 수업신청바로가기 */
.main-notice-create-botton {
  background-color: #00FFFF;
  color: black;
  top: 170px;
  left: 0;
}

/* 수업후기바로가기 */
.main-routine-review-botton:last-of-type {
  background-color: #E6E6FA;
  color: black;
  top: 200px;
  left: 550px;
}

/* 버튼 메뉴 끝 */


/* 모집중인 루틴 모임 후기글 시작 */

.main-routine-containter {
  margin-bottom: 3%;
}

.main-routine-class-container {
  text-align: start;
  justify-content: space-around;
  display: flex;
  gap: 30px;
}

.main-routine-title {
  font-size: 32px;
  color: #F38A6E;
  padding-bottom: 10px;
  padding-left: 20px;
}

.main-first-class-day-text,
.main-second-class-day-text,
.main-third-class-day-text {
  text-align: right;
  opacity: 0.2;
}

/* 모집중인 루틴 모임 후기글 끝 */


/* 모집중인 수업 후기글 시작 */
.main-routine-review-containter {
  margin-top: 48px;
  padding-bottom: 5%;
}

.main-routine-review-box-containter {
  text-align: start;
  justify-content: space-around;
  display: flex;
  gap: 30px;
}

.main-routine-review-title {
  font-size: 32px;
  color: #F38A6E;
  padding-bottom: 10px;
  padding-left: 20px;
}

.main-first-routine-review-day-text,
.main-second-routine-review-day-text,
.main-third-routine-review-day-text {
  text-align: right;
  opacity: 0.2;
}

/* 모집중인 수업 후기글 끝 */