* {
  margin: 0;
  padding: 0;
}

#header {
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #f59d85;
}

#footer {
  width: 100%;
  height: 125px;
  background-color: #f59d85;
}

#main-container {
  width: 1200px;
  height: 100%;
  /*알아서 넣기*/
  background-color: #FFFEF1;
  margin: auto;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* justify-content: center; */
}

main {
  padding-top: 110px;
  height: 1400px;
  width: 100%;
  background-color: #FFFEF1;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  border-radius: 13px;
  padding: 0px 20px;
  height: 40px;
  background-color: #f59d85;
  border: 0px;
}

.font-main {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.font-menu {
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.main-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  overflow: hidden;
  width: 949px;
}

.main-banner-image-container {
  width: 1200px;
  transition: 0.5s;
}

.main_slide_item {
  float: left;
}


.main-menu-botton-containter {
  background-color: darkolivegreen;
  text-align: start;
  justify-content: space-around;
  display: flex;
}

.main-routine-containter {
  background-color: darkgoldenrod;
}

.main-routine-class-container {
  text-align: start;
  justify-content: space-around;
  display: flex;
}

.main-routine-review-containter {
  background-color: blue;
}

.main-routine-review-box-containter {
  text-align: start;
  justify-content: space-around;
  display: flex;
}