*{
  margin: 0;
  padding: 0;
}

/* 폰트 */
.font-menu {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 헤더 */
header{
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #757575;
  display: flex;
  justify-content: center;
}

/* 사이트 로고 */
header>a>img{
  height: 110px;
  width: 110px;
}

/* 푸터 영역 */
footer{
  width: 100%;
  height: 125px;
  background-color: #d9d9d9;
}

/* 메인 */
main {
    padding-top: 110px;
    height: 100%;
    width: 100%;
    background-color: #a6a6a6;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* 메인 영역 */
#main-container {
    width: 1200px;
    height: 100%;
    background-color: #FFFEF1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/* 메인 컨테이너 영역 */
.course-detail-container {
  background-color: #FFFEF1;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  padding: 10px;
}

/* 제목, 목록 영역 */
#detail-container-list{
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

/* 제목 */
.pagetitle{
  font-size : 30px;
  color : #F38A6E;

  height: 110px;
  line-height: 110px;
  align-self: center;
  
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 400px;
}

/* 목록 이동 버튼 */
.back-list{
  height: 50px;
  width: 80px;
  background-color: #818181;
  text-align: center;
  line-height: 50px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
}

/* 내용 영역 */
.div-detail-area {
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size:18px;
}

/* 이미지 영역 */
.div-img {
  display: flex;
  justify-content: center;
}

/* 대표 이미지 */
.img-detail {
  width: 600px;
  height: 500px;
}

/* 작성날짜 영역 */
.div-write-date {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

/* 전문가 제목 */
.p-expert-info-title{
  font-size: 20px;
  color: #F38A6E;
}

/* 전문가 정보 영역 */
.div-expert-detail{
  margin-top:50px;
  
}

/* 지도 api자리 */
.div-expert-info-detail{
  margin-left : 100px;
}

