*{
  margin: 0;
  padding: 0;
}


#main-container {
    width: 1200px;
    height: 100%;
    background-color: #FFFEF1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

main {
    padding-top: 110px;
    /* height는 컨텐츠에 따라 */
    height: 1050px; 
    min-height: calc(100vh - 235px);
    width: 100%;
    background-color: #FFFEF1;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button{
  border-radius: 13px;
  padding : 0px 20px;
  height: 50px;
  background-color: #f59d85;
  border : 0px;
  font-size: 20px;
  cursor: pointer;
}

.font-main{
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-menu{
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pagetitle{
  font-size : 30px;
  color : #F38A6E;

  padding-top : 100px;
  height: 110px;
  line-height: 110px;
  
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

#edit-info-container{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.edit-info-list{
  display: flex;
  height: 50px;

  padding-left: 30px;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  line-height: 50px;

  border-bottom: 1px solid #f59d85;
}

.edit-info-data button{
  background-color:#f59d85;

  border: none;
  color : white;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
  border-radius: 20px;

  margin-left: auto;
} 

.edit-info-input-two-row{
  display: flex;
  flex-direction: column;
}

.edit-info-type{
  width : 360px;
  color : #6E6E6E;
}

.edit-info-data{
  width : calc(1200px - 360px);
  display: flex;
}

#edit-info-address-main{
  display: flex;
}

#edit-info-address-text{
  width: 500px;
}

#edit-info-address-post{
  text-align: right;
  width : 180px;
  margin-right: 15px;
}

#edit-info-send-phonenumber{
  display: flex;
}

#input-verification-code{
  margin-top: 0px;
  height: 40px;
}

#div-button-update-phone-number{
  margin-left:75px;
}

#button-check-verification-code{
  margin-left:230px;
}

#edit-info-check-code{
  display: flex;
}

#div-send-verification-code{
  display: flex;
}

#div-send-verification-code{
  display: flex;
}


#profile-picture{
  width: 50px;
  height: 50px;

}

#profile-picture img{
  border-radius: 60%;
  width: 100%;
  height: 100%
}

#bottom-button{
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
}

#bottom-button button{
  margin-top: 60px;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  border-radius: 20px;
}

#button-edit-user-complete{
  background-color: #f59d85;
  color : white;
  border : none;
  margin-right: 200px;
}

#button-edit-user-cancel{
  background-color: white;
  color : red;
  border : red solid;
  position: relative;
}

#possible-nickname-text{
  margin-left: 115px;
}

.edit-info-two-row{
  height: 101px;
}

#password-first-input{
  display: flex;
}

#password-re-input{
  display: flex;
}

.edit-info-pw-warning{
  display:none;
  width: 300px;
  padding-top: 0px;
  height: 36px;
  line-height: 25px;
  font-size: 15px;
  color:red;
  text-align: right;
}

#edit-info-pw-re-warning{
  line-height: 50px;
}

#main-container input{
  height: 40px;
  width: 500px;
  margin-top: 4px;
  padding-left: 3px;
}