*{
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
}

#header{
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #f59d85;
}

#footer{
  width: 100%;
  height: 125px;
  background-color: #f59d85;
}

#main-container{
  width : 1200px;
  height : 100%; /*알아서 넣기*/
  background-color: aqua;
  margin : auto;
}

main{
  padding-top: 110px;
  height : 1200px;
  width: 100%;
  background-color: gray;
}

button{
  border-radius: 13px;
  padding : 0px 20px;
  height: 40px;
  background-color: #f59d85;
  border : 0px;
}

.ib_p{
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color : white;
}

.y_p{
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.mypage-sidemenu-container{
  position : fixed;
  top: 140px;
  left: 30px;
}

.mypage-sidemenu{
  margin-top : 80px;
}

.mypage-sidemenubtn{
  position: absolute;
  top : 10px;
  left : 10px;
  width : 35px;
  height: 35px;
  background-color: #F59D85;
}

.mypage-sidemenu-container{
  /* display: none; */
  width : 250px;
  height: 450px;
  background-color: rgb(169, 80, 177);
  border-radius: 10px;
}

.mypage-sidemenu-container:hover .mypage-sidebarbtn{
  /* background-color: #FFFACD; */
}

.mypage-sidemenu-container:hover{
  background-color: #FFFACD;  
  display: block;
}

.ul-mainsidemenu{
  list-style-type: none;
}

.nav-mypage-sidemenu{
  margin-top : 20px;
  margin-left : 30px;
  margin-right : 30px;
}

.li-mainsidemenu a{
  color : #F38A6E;
  text-decoration: none;
  font-size: 25px;
  
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.li-mainsidemenu li{
  height: 35px;
  line-height: 35px;
}

.li-mainsidemenu li{
  text-decoration: none;
}

.ul-subsidemenu{
  margin-left: 50px;
}


.ul-subsidemenu{
  list-style-type: disc;
}

.li-subsidemenu{
  color : #FFB9A6;
}

.li-subsidemenu a{
  color : #FFB9A6;
  font-size: 20px;
}