*{
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
}


#header{
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #f59d85;
}

#footer{
  width: 100%;
  height: 125px;
  background-color: #f59d85;
}

#main-container{
  width : 1200px;
  height : 100%; /*알아서 넣기*/
  background-color: #FFFEF1;
  margin : auto;
}

main{
  padding-top: 110px;
  height : 720px;
  width: 100%;
  background-color: #FFFEF1;
}

/* button{
  border-radius: 13px;
  padding : 0px 20px;
  height: 40px;
  background-color: #f59d85;
  border : 0px;
} */

.ib_p{
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color : white;
}

.y_p{
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.mypage-sidemenu-container{
  position : fixed;
  top: 140px;
  left: 30px;
}

.mypage-sidemenumove{
  position: absolute;
  left : 0px;
  
  width : 250px;
  height: 410px;
  background-color: #FFFACD;
  border-radius: 10px;
}

.mypage-sidemenu{
  margin-top : 60px;
}

.mypage-sidemenubtn-close{
  position: absolute;
  top : 10px;
  right : 10px;
  width : 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #F59D85;
  color : white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  line-height: 35px;
}

.mypage-sidemenubtn-open{
  position: absolute;
  top : 10px;
  left : 10px;
  width : 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #F59D85;
  color : white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  line-height: 35px;
}


.ul-mainsidemenu{
  list-style-type: none;
}

.nav-mypage-sidemenu{
  margin-top : 20px;
  margin-left : 30px;
  margin-right : 30px;
}

.li-mainsidemenu a{
  color : #F38A6E;
  text-decoration: none;
  font-size: 25px;
  
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.li-mainsidemenu li{
  height: 35px;
  line-height: 35px;
}

.li-mainsidemenu li{
  text-decoration: none;
}

.ul-subsidemenu{
  margin-left: 50px;
}


.ul-subsidemenu{
  list-style-type: disc;
}

.li-subsidemenu{
  color : #FFB9A6;
}

.li-subsidemenu a{
  color : #FFB9A6;
  font-size: 20px;
}

.li-mainsidemenu a:hover{
  color : #eb491d;
  text-decoration: underline;
}

.li-subsidemenu a:hover{
  color : #f17553;
}

.mypage-sidemenubtn-open:hover{
  background-color : #f17553;
}

.mypage-sidemenubtn-close:hover{
  background-color : #f17553;
}

.pagetitle{
  font-size : 48px;
  color : #F38A6E;

  padding-top : 100px;
  height: 110px;
  line-height: 110px;
  
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.button-pw{
  width:184px;
  height:50px;
  background-color: #F59D85;
  border : 0;
  border-radius: 10px;
  font-size: 25px;
  color : white;
  cursor: pointer;
}

.form-pw{
  display: flex;
  justify-content: center;
  margin-top : 130px;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
}

.form-pw input{
  margin : 0px 30px;
  width: 550px;
  border-radius: 10px;
  border : 1px solid black;
  font-size: 20px;
}

.label-pw{
  text-align: right;
}

.wrongpw{
  margin-top: 30px;
  font-size: 20px;
  margin-left: 545px;
  color : red;
  display: none;
}