*{
  margin: 0;
  padding: 0;
}


#header{
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #f59d85;
}

#footer{
  width: 100%;
  height: 125px;
  background-color: #f59d85;
}

#main-container{
  width : 1200px;
  height : 100%; /*알아서 넣기*/
  background-color: #FFFEF1;
  margin : auto;
}

main{
  padding-top: 110px;
  height : 1200px;
  width: 100%;
  background-color: #FFFEF1;
}

button{
  cursor: pointer;
}

.font-main{
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color : white;
}

.font-menu{
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pagetitle{
  font-size : 48px;
  color : #F38A6E;

  padding-top : 100px;
  height: 110px;
  line-height: 110px;
  
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

#personal-info-container{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.personal-info-list{
  display: flex;
  height: 70px;
  font-size:30px;

  padding-left: 30px;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  line-height: 70px;

  border-bottom: 1px solid #f59d85;
}

#button-edit-expert-info{
  background-color:#f59d85 ;
  height: 60px;
  width : 147px;

  border: none;
  color : white;
  font-size: 30px;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
  border-radius: 20px;
}

.personal-info-type{
  width : 360px;
  color : #6E6E6E;
}

.personal-info-data{
  width : 660px;
}

#personal-info-data-postcode{
  text-align: center;
  width : 147px;

  font-size: 30px;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#profile-picture{
  margin-top: 2px;
  width: 66px;
  height: 66px;

}

#profile-picture img{
  border-radius: 60%;
  width: 100%;
  height: 100%
}

#form-bottom-button{
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
}

#form-bottom-button button{
  margin-top: 60px;
  width : 147px;
  font-size: 30px;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  border-radius: 20px;
}

#button-edit-user{
  background-color: #f59d85;
  height: 66px;
  color : white;
  border : none;
}

#button-del-user{
  background-color: white;
  color : red;
  border : red solid;
  position: relative;
  height: 66px;
  left: 450px;
}