*{
  margin: 0;
  padding: 0;
}

#main-container {
    width: 1200px;
    height: 100%;
    background-color: #FFFEF1;
    margin: auto;
    align-items: center;
    justify-content: center;
}

main {
    padding-top: 110px;
    /* height는 컨텐츠에 따라 */
    height: 900px; 
    min-height: calc(100vh - 235px);
    width: 100%;
    background-color: #FFFEF1;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button{
  border-radius: 13px;
  padding : 0px 20px;
  height: 50px;
  background-color: #f59d85;
  border : 0px;
  font-size: 20px;
  cursor: pointer;
}

.font-main{
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-menu{
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pagetitle{
  font-size : 30px;
  color : #F38A6E;

  padding-top : 100px;
  height: 110px;
  line-height: 110px;
  
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#personal-info-container{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.personal-info-list{
  display: flex;
  height: 50px;
  font-size:20px;

  padding-left: 30px;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  line-height: 50px;

  border-bottom: 1px solid #f59d85;
}

#button-edit-expert-info{
  background-color:#f59d85 ;

  border: none;
  color : white;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
  border-radius: 20px;

  margin:auto;
}

.personal-info-type{
  width : 360px;
  color : #6E6E6E;
}

.personal-info-data{
  width : 720px;
}

#personal-info-data-postcode{
  text-align: center;
  width : 90px;

  font-size: 20px;

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#profile-picture{
  margin-top: 0px;
  width: 50px;
  height: 50px;

}

#profile-picture img{
  border-radius: 60%;
  width: 100%;
  height: 100%
}

#form-bottom-button{
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
}

#form-bottom-button button{
  margin-top: 60px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  border-radius: 20px;
}

#button-edit-user{
  background-color: #f59d85;
  color : white;
  border : none;
}

#button-del-user{
  background-color: white;
  color : red;
  border : red solid;
  position: relative;
  left: 500px;
}