#profile-pic-upload-middle{
    display: flex;
    justify-content: space-around;
    height: 45px;
    top:50px;
    left: 90px;
    position: relative;
    line-height: 45px;
}

#label-profile-pic{
    color:  #F38A6E;
}

#input-profile-pic-search{
    display: none;
}

#label-profile-pic-search{
    padding: 6px 20px;
    background-color:  #F38A6E;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#button-profile-pic-upload{
    color: white;
    top: 120px;
    left: 405px;
    position: relative;
}